/* @file globals.scss */

/* COLORS */
$color-white: #ffffff;
$color-light-gray: #f0f0f0;
$color-dark-gray: #c9c9c9;
$color-text-gray: #757575;
$color-black: #000000;
$color-green: #4caf50;

/* FONT */
$font-size: 16px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 42px;
